.App {
  text-align: center;
  min-height: 96.5vh;
    
}

.header{
  /* border: 1px solid red; */
    /* max-height: 15vh; */
      min-height: 15vh;
      display: flex;
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */
        align-content: center;
        justify-content: center;
        align-items: center;
}
.main{
  /* border: 1px solid red; */
  min-height: 66vh;
    max-height: 70vh;
      
}
.footer{
  min-height: 15vh;
  /* border: 1px solid red; */
      display: flex;
        flex-direction: row;
      
        justify-content: center;
        align-items: center;
      
}

.title{
  color: mediumpurple;
      font-size: 25px;
}

.form-container{
display: inline-block;
  border-radius: 4px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.error{
      color: mediumpurple;
        display: inline-block;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 29px;

}
.block-container{
        overflow: auto;
        max-height: 320px;
}
.block-container::-webkit-scrollbar {
  width: 10px;
}

.block-container::-webkit-scrollbar-track {
  background: none;
}

.block-container::-webkit-scrollbar-thumb {
  background: none;
  
  border-radius: 10px;
}

.block-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.block-container {
  scrollbar-width: thin;
  scrollbar-color: mediumpurple #f1f1f1;
}

.block{

background-image: url("../public/block.jpg");
  background-repeat: no-repeat;
    background-size: cover;
  display: inline-flex;
    margin: 44px;  margin-left: -19px;
  width: 9%;
  align-content: center;
  justify-content: center;
  height: 72px;
  flex-direction: row;
  align-items: center;
      margin-bottom: -26px;
}


.block-text{
          background: rosybrown;
            font-weight: bolder;
            box-shadow: 0px 0.4px 7px rgba(0, 0, 0, 0.034), 0px 0.9px 15.9px rgba(0, 0, 0, 0.049), 0px 1.5px 27.7px rgba(0, 0, 0, 0.06), 0px 2.4px 44.1px rgba(0, 0, 0, 0.07), 0px 3.7px 68px rgba(0, 0, 0, 0.08), 0px 5.7px 106.1px rgba(0, 0, 0, 0.091), 0px 9.5px 176.2px rgba(0, 0, 0, 0.106), 0px 19px 352px rgba(0, 0, 0, 0.14);
            border-radius: 6px;
            border: 3px solid rebeccapurple;
      
}

.scroll-arrow {
  position: absolute;
    display: flex;
    font-size: 50px;
    color: mediumpurple;
    margin-left: 50%;
    margin-top: -4%;
      animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  display: flex;
        margin-left: 38%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, purple, mediumpurple);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: mediumpurple;
  font-weight: 700;
}



.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.submit-btn {
  background-color: mediumpurple;
    border: none;
    color: #BF2361;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
        border-radius: 5px;
  
}

.addBlock {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
/* position: absolute; */
  margin-left: -7%;
  width: 31%;
}



.submit-btn:hover {
  background-color: #BF2361 ;
  color: mediumpurple;
}

.GithubLogo{
  height: 47px;
}
.link{
  margin-left: 1%;
}
.footer-text{
  margin:0;
}